.bg--orange {
  background-color: orange;
}

.bg--white {
  background-color: white;
}

.grid--3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box--center {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

label {
  margin: 10px;
}

input {
  padding: 10px;
  margin: 10px;
  border-width: 0 0 1px 0;
}

