.bg--orange {
  background-color: orange;
}

.grid--3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box--center {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}