.bg--orange {
  background-color: darkorange;
}

.bg--white {
  background-color: white;
}

.grid--3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.box--center {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.flex {
  display: flex;
}

.flex--column {
  flex-direction: column;
}

.padding--med {
  padding: 20px
}

.borders--round {
  border-radius: 1%;
}

.shadow {
  box-shadow: 0px 0px 10px darkgrey;
}

label {
  margin: 10px;
}

input {
  padding: 10px;
  margin: 10px;
  border-width: 0 0 1px 0;
}

.button {
  margin: 1em;
  width: 100px;
  height: 25px;
  border-radius: 30px;
  color: lightgray;
  position: relative;
}

.validation-1 {
  border-bottom-color: darkorange;
  transition: 0.25s;
}

.validation-2 {
  border-right-color: darkorange;
  transition: 0.25s;
}

.validation-3 {
  border-top-color: darkorange;
  border-left-color: darkorange;
  color: white;
  background: radial-gradient(darkorange, white, 200%);
  background-color: darkorange;

  transition:
    border-top-color 0.25s 0.25s,
    border-left-color 0.25s 0.50s,
    background 0.25s 0.75s,
    background-color 0.25s 0.75s,
    color 0.25s 0.75s;
}
